@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 992.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1542px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1230px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}
.popup.active .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.popup.show {
  display: block;
}
.popup.show .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}
.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none;
}
.popup-video__value iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #000;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 3;
}
.header__body {
  position: relative;
  /*z-index: 2;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  padding: 22px 0;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin: 0 80px 0 0;
  z-index: 5;
}
@media (max-width: 1542px) {
  .header__logo {
    margin: 0 30px 0 0;
  }
}
.header .header__burger {
  display: none;
}
.header__phone {
  position: relative;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  z-index: 3;
  -webkit-transition: -webkit-text-decoration 0.35s ease;
  transition: -webkit-text-decoration 0.35s ease;
  -o-transition: text-decoration 0.35s ease;
  transition: text-decoration 0.35s ease;
  transition: text-decoration 0.35s ease, -webkit-text-decoration 0.35s ease;
}
@media (max-width: 1230px) {
  .header__phone {
    display: none;
  }
}
.header__phone:before {
  content: "";
  background: url("../img/icons/phone.svg");
  width: 23px;
  height: 23px;
  display: inline-block;
  margin: 0 5px 0 0;
}
.header__phone:hover {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.35s ease;
  transition: -webkit-text-decoration 0.35s ease;
  -o-transition: text-decoration 0.35s ease;
  transition: text-decoration 0.35s ease;
  transition: text-decoration 0.35s ease, -webkit-text-decoration 0.35s ease;
}
.header__btn {
  position: relative;
  z-index: 3;
  padding: 14px 33px;
}
@media (max-width: 1542px) {
  .header__btn {
    display: none !important;
  }
}
.menu {
  margin: 0 80px 0 0;
}
@media (max-width: 1542px) {
  .menu {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 1230px) {
  .menu {
    margin: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  z-index: 3;
}
.menu__list li {
  margin: 0 42px 0 0;
}
@media (max-width: 1542px) {
  .menu__list li {
    margin: 0 20px 0 0;
  }
}
.menu__list li:last-of-type {
  margin: 0;
}
.menu__link {
  color: #FFFFFF;
  -webkit-transition: -webkit-text-decoration 0.5s ease;
  transition: -webkit-text-decoration 0.5s ease;
  -o-transition: text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease, -webkit-text-decoration 0.5s ease;
}
@media (max-width: 767px) {
  .menu__link {
    /*&__body {
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	overflow: auto;
    	background-color:#4d4959;
    	padding: 150px 0px 20px 0px;
    	@include tr(0px,-100%,0px);
    	@include anim(0.3s,0s);
    	&.active{
    		@include tr(0px,0px,0px);
    	}

    }*/
    /*&__list {
    	flex-direction: column;
    	justify-content:center;
    	align-items: center;
    	li{
    		padding: 0 0 45px 0;
    		&:nth-child(2),
    		&:nth-child(3){
    			padding: 0 0 45px 0;
    			&:after{display: block;}
    		}
    		&:last-child{
    			padding: 0;
    		}
    		&:after{
    			width: 4px;
    			height: 4px;
    			background-color: #fff;
    			right: 50%;
    			top:40px;
    			margin: 0px -2px 0px 0px;
    		}
    	}
    }*/
  }
}
.menu__link:hover, .menu__link:active {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.5s ease;
  transition: -webkit-text-decoration 0.5s ease;
  -o-transition: text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease, -webkit-text-decoration 0.5s ease;
}

@media (max-width: 992.98px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
    margin: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #000;
  }

  .header__burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    right: 0;
    z-index: 5;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.7);
    padding: 120px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    font-size: 26px;
  }
}
.footer {
  background: #141414;
  padding: 120px 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 50px 0;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 767.98px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__wrap {
  margin: 0 103px 0 0;
}
@media (max-width: 992.98px) {
  .footer__wrap {
    margin: 0 45px 0 0;
  }
}
@media (max-width: 767.98px) {
  .footer__wrap {
    margin: 0 0 0px 0;
  }
}
@media (max-width: 479.98px) {
  .footer__wrap {
    margin: 0 0 20px 0;
  }
}
.footer_logo {
  margin: 0 0 32px 0;
}
.footer__text {
  color: #fff !important;
  margin: 0 0 10px 0;
}
.footer__menu {
  margin: 0 200px 0 0;
}
@media (max-width: 1542px) {
  .footer__menu {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 1230px) {
  .footer__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 185px;
  }
}
@media (max-width: 1230px) and (max-width: 479.98px) {
  .footer__menu ul li {
    text-align: left;
  }
}
@media (max-width: 1230px) {
  .footer__menu ul li a {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .footer__menu {
    margin: 0 0 50px 0;
  }
}
.footer__socials {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1230px) {
  .footer__socials {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
@media (max-width: 992.98px) {
  .footer__socials {
    -webkit-box-pack: inherit !important;
        -ms-flex-pack: inherit !important;
            justify-content: inherit !important;
  }
}
@media (max-width: 992.98px) {
  .footer__socials {
    margin: 0 !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__arrow_up {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 50%;
  bottom: 120px;
}
@media (max-width: 992.98px) {
  .footer__arrow_up {
    right: 25px;
    left: auto;
  }
}

.footer__btn {
  padding: 14px 33px;
}

.title {
  font-style: normal;
  font-weight: 800;
  color: #141414;
  text-transform: uppercase;
}
.title_w {
  color: #FFFFFF;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #141414;
}
.text_w {
  color: #FFFFFF;
}
.text span {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #141414;
}

.card_top {
  font-style: normal;
  font-weight: 800;
  width: 100%;
  font-size: 25px;
  line-height: 30px;
  padding: 13px 0;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 -50px 0 !important;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.container__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first {
  background: url("../img/bg-main.jpg") no-repeat center center/cover;
  padding: 204px 0 56px 0;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.first__wrapper {
  padding: 77px 100px;
  max-width: 830px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin: 0 0 205px 0;
}
@media (max-width: 1230px) {
  .first__wrapper {
    padding: 30px 35px;
  }
}
.first__title {
  font-size: 60px;
  line-height: 73px;
  margin: 0 0 13px 0;
}
@media (max-width: 1230px) {
  .first__title {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .first__title {
    font-size: 35px;
    line-height: 45px;
  }
}
.first__text {
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 27px 0;
}
.first__btn {
  padding: 21px 123px;
  -webkit-box-shadow: 2px 4px 10px rgba(255, 0, 0, 0.25);
          box-shadow: 2px 4px 10px rgba(255, 0, 0, 0.25);
  border-radius: 15px;
}
@media (max-width: 767.98px) {
  .first__btn {
    padding: 15px 60px;
  }
}
.first__arrow {
  position: absolute;
  display: block;
  background: url("../img/icons/arrow_down.svg") no-repeat center;
  width: 60px;
  height: 60px;
  left: 45%;
  bottom: 55px;
}

.works {
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .works {
    padding: 70px 0;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .works {
    padding: 20px 0;
  }
}
.works__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 60px 0;
}
@media (max-width: 767.98px) {
  .works__title {
    font-size: 25px;
  }
}
@media (max-width: 1230px) {
  .works__title {
    margin: 0 0 15px 0;
  }
}
.works__card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 750px !important;
}
@media (max-width: 767.98px) {
  .works__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px !important;
    margin: 0 10px;
  }
}
.works__img img {
  width: 360px;
  height: 270px;
}
@media (max-width: 767.98px) {
  .works__img img {
    width: 100%;
  }
}
.works__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}
.works__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 14px 0;
}
@media (max-width: 767.98px) {
  .works__subtitle {
    font-size: 20px;
  }
}
.works__text {
  margin: 0 0 27px 0;
}
.works__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.works__size {
  font-size: 20px;
  line-height: 120%;
  margin: 0 60px 0 0;
}
.works__days {
  font-size: 20px;
  line-height: 120%;
}

/*Slick slider*/
.slick-dots li button:before {
  font-size: 110px;
  width: 48px;
  height: 20px;
  content: "-";
  line-height: 0px;
  bottom: -35px;
}

.we {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url("../img/bg_check.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2)), url("../img/bg_check.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url("../img/bg_check.jpg");
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .we {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .we {
    padding: 20px 0;
  }
}
.we__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .we__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .we__title {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
}
.we__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1542px) {
  .we__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}
@media (max-width: 992.98px) {
  .we__row {
    display: block;
  }
}
.we__column {
  padding: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}
@media (max-width: 1542px) {
  .we__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 50px 0;
  }
  .we__column:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .we__column {
    margin: 0;
  }
}
.we__item {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 430px;
}
@media (max-width: 992.98px) {
  .we__item {
    max-width: none;
    text-align: center;
  }
}
.we__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992.98px) {
  .we__icon {
    margin: 0 0 15px 0;
  }
}
.we__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.we__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
@media (max-width: 479.98px) {
  .we__subtitle {
    font-size: 18px;
  }
}
.price {
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .price {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .price {
    padding: 20px 0;
  }
}
.price__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .price__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .price__title {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  .price__title {
    margin: 0;
  }
}
.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1542px) {
  .price__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 992.98px) {
  .price__row {
    display: block;
  }
}
.price__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1542px) {
  .price__column {
    height: 100%;
    margin: 0 0 50px 0;
  }
  .price__column:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 992.98px) {
  .price__column:nth-child(3) {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 767.98px) {
  .price__column {
    margin: 0 0 20px 0;
  }
  .price__column:nth-child(3) {
    margin: 0 0 20px 0;
  }
}
.price__item {
  min-height: 100%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 430px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992.98px) {
  .price__item {
    max-width: 360px;
    margin: 0 auto;
  }
}
.price__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992.98px) {
  .price__icon {
    margin: 0 0 15px 0;
  }
}
.price__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
.price__pic {
  margin: 0 0 25px 0;
}
.price__texts {
  margin: 0 0 20px 0;
}
.price__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}
.price__text:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 6px 0 0;
  background: url("../img/icons/lawn.svg");
}
.price__star {
  margin: 0 0 25px 0;
}
.price__btn {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.marks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 0 25px 0;
}
.marks__column {
  margin: 0 20px 0 0;
}
.marks__item__size:nth-child(1) {
  margin: 5px 0 15px 0;
}

.advantages {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/profit.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/profit.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/profit.jpg");
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .advantages {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding: 20px 0;
  }
}
.advantages__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .advantages__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .advantages__title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1542px) {
  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}
.advantages__column {
  padding: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}
@media (max-width: 1542px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 50px 0;
  }
  .advantages__column:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .advantages__column {
    margin: 0 0 15px 0;
  }
}
.advantages__item {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 490px;
}
@media (max-width: 992.98px) {
  .advantages__item {
    max-width: none;
    text-align: center;
  }
}
.advantages__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992.98px) {
  .advantages__icon {
    margin: 0 0 15px 0;
  }
}
.advantages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
@media (max-width: 479.98px) {
  .advantages__subtitle {
    font-size: 20px;
  }
}
.tarifs {
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .tarifs {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .tarifs {
    padding: 20px 0;
  }
}
.tarifs__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .tarifs__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .tarifs__title {
    font-size: 30px;
    margin: 0;
  }
}
.tarifs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1542px) {
  .tarifs__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 992.98px) {
  .tarifs__row {
    display: block;
  }
}
.tarifs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1542px) {
  .tarifs__column {
    margin: 0 0 30px 0;
    padding: 0 5px;
  }
  .tarifs__column:nth-child(3) {
    margin: 0;
  }
}
.tarifs__item {
  min-height: 100%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992.98px) {
  .tarifs__item {
    max-width: 490px;
    margin: 0 auto;
  }
}
.tarifs__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992.98px) {
  .tarifs__icon {
    margin: 0 0 15px 0;
  }
}
.tarifs__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tarifs__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
.tarifs__pic {
  margin: 0 0 25px 0;
}
.tarifs__texts {
  margin: 0 0 20px 0;
}
.tarifs__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 45px 0;
  line-height: 30px;
}
@media (max-width: 1230px) {
  .tarifs__text {
    margin: 0 0 30px 0;
  }
}
.tarifs__text:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 6px 0 0;
  background: url("../img/icons/roll.svg");
}
.tarifs__list {
  padding: 0 0 0 20px;
}
.tarifs__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}
.tarifs__list li:before {
  content: "";
  width: 11px;
  height: 11px;
  display: block;
  margin: 0 6px 0 0;
  background: url("../img/icons/sun.svg");
}
.tarifs__space {
  margin: 0 0 20px 95px;
}
@media (max-width: 479.98px) {
  .tarifs__space {
    margin: 0 0 20px 20px;
  }
}
.tarifs__btn {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.stages {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/stages.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/stages.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/stages.jpg");
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .stages {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .stages {
    padding: 20px 0;
  }
}
.stages__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .stages__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .stages__title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
}
.stages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1230px) {
  .stages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}
@media (max-width: 992.98px) {
  .stages__row {
    display: block;
  }
}
.stages__column {
  padding: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}
@media (max-width: 1230px) {
  .stages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 25px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 992.98px) {
  .stages__column:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .stages__column {
    margin: 0;
  }
}
.stages__item {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 490px;
}
@media (max-width: 992.98px) {
  .stages__item {
    max-width: none;
  }
}
.stages__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}
@media (max-width: 992.98px) {
  .stages__icon {
    margin: 0 20px 15px 0;
  }
}
.stages__icon img {
  width: 100%;
}
.stages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992.98px) {
  .stages__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.stages__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
.about {
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .about {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .about {
    padding: 20px 0;
  }
}
.about__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .about__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .about__title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 479.98px) {
  .about__title {
    line-height: 35px !important;
  }
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
@media (max-width: 1230px) {
  .about__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about__text {
  max-width: 620px;
  margin: 0 160px 0 0;
}
@media (max-width: 1230px) {
  .about__text {
    margin: 0 0 40px 0;
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .about__text {
    margin: 0 0 20px 0;
  }
}
.about__text p {
  padding: 0 0 20px 0;
}
.about__text p:last-of-type {
  padding: 0;
}
.about_digits {
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__card {
  width: 295px;
  margin: 0 auto;
}
.about__digit {
  font-size: 50px;
  line-height: 61px;
  text-align: center;
}
.about__under {
  text-align: center;
}

.care {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/stages.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/stages.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/stages.jpg");
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .care {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .care {
    padding: 20px 0;
  }
}
.care__title {
  font-size: 50px;
  line-height: 61px;
}
@media (max-width: 1230px) {
  .care__title {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .care__title {
    font-size: 25px;
  }
}
@media (max-width: 479.98px) {
  .care__title {
    line-height: 35px !important;
  }
}
.care__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
@media (max-width: 1230px) {
  .care__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}
@media (max-width: 992.98px) {
  .care__row {
    margin: 0px 0 0 40px;
  }
}
@media (max-width: 479.98px) {
  .care__row {
    margin: 0;
  }
}
.care__column {
  padding: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1542px) {
  .care__column {
    padding: 0;
  }
}
@media (max-width: 1230px) {
  .care__column {
    height: 100%;
    margin: 0 20px 20px 0;
  }
}
.care__column:nth-child(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.care__item {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 350px;
}
@media (max-width: 1542px) {
  .care__item {
    max-width: 160px;
  }
}
@media (max-width: 767.98px) {
  .care__item {
    max-width: 215px;
  }
}
.care__icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}
@media (max-width: 1542px) {
  .care__icon {
    width: 90%;
  }
}
.care__wrap {
  width: 145px;
}
.care__subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 7px 0;
}
@media (max-width: 1542px) {
  .care__subtitle {
    font-size: 18px;
  }
}
.care__text {
  margin: 0 0 55px 0;
}
@media (max-width: 767.98px) {
  .care__text {
    margin: 0 0 30px 0;
  }
}
.care__line_down {
  margin: 0 auto;
  width: 0px;
}
@media (max-width: 1230px) {
  .care__line_down {
    display: none;
  }
}

.call {
  padding: 120px 0;
}
@media (max-width: 1230px) {
  .call {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .call {
    padding: 20px 0;
  }
}
.call__title {
  font-size: 50px;
  line-height: 61px;
  margin: 0 0 80px 0;
}
@media (max-width: 1230px) {
  .call__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .call__title {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
}
.call__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1230px) {
  .call__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.call__form {
  width: 755px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
@media (max-width: 1542px) {
  .call__form {
    width: 650px;
    margin: 0 30px 0 0;
  }
}
@media (max-width: 1230px) {
  .call__form {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 1230px) {
  .call__form {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .call__form {
    max-width: 300px;
    padding: 30px 0;
  }
}
.call__form__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 60px 0;
  text-align: center;
}
@media (max-width: 767.98px) {
  .call__form__title {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 30px 0;
  }
}
.call__form__text {
  width: 550px;
  margin: 0 auto;
}
@media (max-width: 1542px) {
  .call__form__text {
    width: 490px;
  }
}
@media (max-width: 767.98px) {
  .call__form__text {
    max-width: 260px;
  }
}
.call__input {
  width: 550px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 21px 0 21px 26px;
  margin: 0 0 30px 0;
  resize: none;
}
@media (max-width: 1542px) {
  .call__input {
    width: 510px;
  }
}
@media (max-width: 767.98px) {
  .call__input {
    max-width: 280px;
  }
}
.call__btn {
  padding: 21px 0;
  width: 550px;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 0 45px 0;
}
@media (max-width: 1542px) {
  .call__btn {
    width: 510px;
  }
}
@media (max-width: 767.98px) {
  .call__btn {
    max-width: 280px;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1230px) {
  .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 992.98px) {
  .socials {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1230px) {
  .socials__wrapper {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 767.98px) {
  .socials__wrapper {
    max-width: 300px;
  }
}
.socials__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 60px 0;
}
@media (max-width: 1230px) {
  .socials__title {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .socials__title {
    margin: 0 0 30px 0;
  }
}
.socials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 0 45px 0;
}
@media (max-width: 1542px) {
  .socials__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1542px) {
  .socials__cards {
    margin: 0;
  }
}
.socials__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0 46px 0 0;
}
@media (max-width: 1542px) {
  .socials__cards__card {
    margin: 0 30px 15px 0;
  }
}
.socials__cards__card a {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #141414;
  white-space: nowrap;
}
.socials__cards__card_w {
  margin: 0 0 0 46px;
}
@media (max-width: 1230px) {
  .socials__cards__card_w {
    margin: 0 0 10px 46px;
  }
}
@media (max-width: 992.98px) {
  .socials__cards__card_w {
    margin: 0px 12px 10px 0px;
  }
}
.socials__cards__card_w a {
  color: #fff;
}
.socials__cards__card:nth-child(3) {
  margin: 0;
}
.socials__cards__img {
  margin: 0 5px 0 0;
}
.socials__address {
  margin: 0 0 45px 0;
}
.socials__pic img {
  width: 100%;
}
@media (max-width: 1230px) {
  .socials__pic {
    width: 270px;
  }
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.time__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.time__days {
  margin: 0 40px 0 0;
}
@media (max-width: 767.98px) {
  .time__days {
    margin: 0 5px 0 0;
  }
}
.time__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
  background: #FF5B51;
  -webkit-transition: background 0.35s ease;
  -o-transition: background 0.35s ease;
  transition: background 0.35s ease;
}
.btn_w {
  width: 235px;
  background: transparent;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-transition: background 0.35s ease;
  -o-transition: background 0.35s ease;
  transition: background 0.35s ease;
}
.btn_w:hover, .btn_w:active {
  background: rgba(255, 255, 255, 0.4) !important;
  -webkit-transition: background 0.35s ease;
  -o-transition: background 0.35s ease;
  transition: background 0.35s ease;
}
.btn:hover {
  background: #d9847f;
  -webkit-transition: background 0.35s ease;
  -o-transition: background 0.35s ease;
  transition: background 0.35s ease;
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 992.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video, .video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}
.moretext__more i {
  font-style: normal;
}
.moretext__more i:first-child {
  display: block;
}
.moretext__more i:last-child {
  display: none;
}
.moretext__more.active i {
  font-style: normal;
}
.moretext__more.active i:first-child {
  display: none;
}
.moretext__more.active i:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
}
.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}